* {
  margin: 0;
  padding: 0;
  background-color: #FEF7FE;
}

.gameTitle {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  height: 80px;
}

p {
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
  color: gray;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.container {
  margin: 0px auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
  margin: 15px auto;
}

#firstButton,
#secondButton,
#thirdButton {
  height: 50px;
  border: 1px dotted gray;
  border-radius: 10px;
  background-color: rgb(155, 143, 143);
  font-size: 1.1rem;
  width: 140px;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  color: white;
}
